.Groups {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.Group {
  margin: 0 4px;
  padding: 4px 12px;
  list-style: none;
  border-radius: 6px;
  font-size: var(--MenuBarFontSize);
  cursor: pointer;
}

.Group.Active,
.Group:hover {
  background: var(--MenuBarHoverBackground);
}

.AddGroupButton {
  margin-left: 1em;
}
