.Groups {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 36px;
}

.Group {
  margin: 0 4px;
  padding: 4px 12px;
  list-style: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  color: var(--menu-bar-font-color);
}

.Group:focus-visible {
  outline: var(--menu-bar-font-color) dashed 1px;
}

.Group.Active,
.Group:hover {
  background: var(--menu-bar-hover-background);
}

.AddGroupButton {
  margin-left: 1em;
}

.AddGroupButton svg {
  color: var(--menu-bar-font-color);
  opacity: 0.5;
}

.AddGroupButton:hover svg {
  opacity: 1;
}
