.Content {
  flex: 1;
  padding: 20px 80px;
  overflow-y: auto;
}

.Scroller {
  display: grid;
  justify-content: space-between;
  align-items: center;
}

.Link {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
}

.Link:hover {
  background: rgba(200, 200, 200, 0.1);
}

.Icon {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.Title {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
