.Content {
  flex: 1;
  padding: 20px 80px 60px;
  overflow-y: auto;
}

.Content::-webkit-scrollbar {
  width: 4px;
  height: 40px;
  background: transparent;
}

.Content::-webkit-scrollbar-thumb {
  background: var(--global-scrollbar-thumb-color);
  border-radius: 4px;
}

.Scroller {
  display: grid;
  justify-content: space-between;
  align-items: center;
}

.Link {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
}

.Link.Active,
.Link:hover {
  background: rgba(224, 224, 224, 0.3);
}

.Icon {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.Title {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
