.More {
  margin-right: 20px;
  opacity: 0.5;
}

.More svg {
  color: var(--menu-bar-font-color);
}

.More:hover,
.More.Active {
  opacity: 1;
}

/* @media (prefers-color-scheme: light) {
  .Light svg {
    color: #2196f3;
  }
}

@media (prefers-color-scheme: dark) {
  .Dark svg {
    color: #2196f3;
  }
} */
